@model IEnumerable<WebAppSemesterProject3.Models.Account>

@{
    ViewData["Title"] = "View All Accounts";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Username
            </th>
            <th>
                Email
            </th>
            <th>
                Discount
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item._username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item._email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item._discount)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
