@model IEnumerable<Models.Post>
@using System.Security.Claims
@using Models

@{
    ViewData["Title"] = "Index";
}
<script>
    user = ViewData["user"]
</script>

<style>
    label {
        font-size: 30px;
        margin-top: 20px;
    }
</style>

<h1>- Bids & Offers -</h1>

<p>
    <a asp-action="Create">Create Trade Post</a>
</p>
&nbsp
<label>Bids:</label>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Currency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
        </tr>
    </thead>
    <tbody>
        @if (ViewData["bids"] != null)
        {
            @foreach (var item in ViewData["bids"] as List<Post>)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Currency.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
&nbsp
<label>Offers:</label>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Currency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
        </tr>
    </thead>
    <tbody>
        @if (ViewData["offers"] != null)
        {
            @foreach (var item in ViewData["offers"] as List<Post>)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Currency.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.ActionLink("Buy", "BuyOffer", "Post", new {offerAmount = item.Amount, offerPrice = item.Price, offerCurrency = item.Currency.Type}, null)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
