@model IEnumerable<Models.Post>
@using System.Security.Claims
@using Models

@{
    ViewData["Title"] = "All Posts";
    var message = ViewData["message"];
}
<script>
    user = ViewData["user"]
</script>
<h1>- Bids & Offers -</h1>


<!-- Message system for telling the user whether they have successfully bought an offer or not.
     Each number represents a message
-->
<div>
@if (message != null)
{
    switch (message)
    {
        case 1:
                <label>Successfully bought Offer!</label>
            break;

        case 2:
                <label>Offer was already bought..</label>
            break;
    }
}
</div>

<p>
    <a asp-action="CreateOffer">New Offer</a>
</p>

<label>Bids:</label>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Currency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
        </tr>
    </thead>
    <tbody>
        @if (ViewData["bids"] != null)
        {
            @foreach (var item in ViewData["bids"] as List<Post>)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Currency.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<label>Offers:</label>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Currency.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th class="actions-column">
                - Buy-
            </th>
        </tr>
    </thead>
    <tbody>
        @if (ViewData["offers"] != null)
        {
            @foreach (var item in ViewData["offers"] as List<Post>)
            {
                @if (!item.IsComplete)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Currency.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.ActionLink("Buy", "BuyOffer", "Post", new { offerAmount = item.Amount, offerPrice = item.Price, offerCurrency = item.Currency.Type, offerID = item.Id }, null)
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
