@model Models.Account
@using Models
@{
    ViewData["Title"] = "Account";
}
<body>

    <h1>- My Page -</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>

    <h2>Posts</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Currency
                </th>
                <th>
                    Price
                </th>
                <th>
                    Amount
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var post in Model.Posts)
            {
                <tr>
                    <td>
                        @post.Currency.Type
                    </td>
                    <td>
                        @post.Price
                    </td>
                    <td>
                        @post.Amount
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = post.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <h2>Wallet</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Currency
                </th>
                <th>
                    Amount
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var currencyLine in Model.Wallet)
            {
                <tr>
                    <td>
                        @currencyLine.Currency.Type
                    </td>
                    <td>
                        @currencyLine.Amount
                    </td> 
                </tr>
            }
        </tbody>
    </table>

</body>

</html>
