@model Models.DTO.AccountDto
@using Models;

<h1>Index</h1>

<p>
  
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wallet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posts)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Discount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Wallet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Posts)
            </td>
            <td>
               
            </td>
        </tr>
    </tbody>
</table>
